# Ignore everything
*

# But don't ignore these directories and anything inside them
!4_Datatypes/
!4_Datatypes/*
!3_Collection/
!3_Collection/*
!2_Variables/
!2_Variables/*
!1_Modules/
!1_Modules/*
!.venv/
!.venv/*
!README.md/
!README.md/*
!.gitignore/
!.gitignore/*
